<a href="https://colab.research.google.com/github/LakshmiAhala/Personal/blob/main/Personal_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pg. 160
##11
##Male and Female Percentages

In [ ]:
total = 50
total = int(total)
male = input("Enter the number of males in your class: ")
male = int(male)
female = input("Enter the number of females in your class: ")
female = int(female)


female_percent = (female / total)* 100
female_percent = int(female_percent)
male_percent = (male / total)* 100
male_percent = int(male_percent)

if female > 50:
    print("ERROR")
if male > 50:
    print("ERROR")
    
print("The percentage of females is", female_percent, "%")
print("The percentage of males is", male_percent, "%")

#pg 215
## 4
## Roman Numerals

In [ ]:
number = input("Please enter a number ranging between 1-10: ")
number = int(number)

if number == 1:
    print("I")
    
elif number == 2:
    print("II")
 
elif number == 3:
    print("III")
    
elif number == 4:
    print("IV")
    
elif number == 5:
    print("V")
    
elif number == 6:
    print("VI")
    
elif number == 7:
    print("VII")
    
elif number == 8:
    print("VIII")
    
elif number == 9:
    print("IX")
    
elif number == 10:
    print("X")
    
else: 
    print("ERROR")

#Pg 215
##6
## Magic Dates

In [ ]:
day = input("Please enter a day in numerical form (ex: 27): ")
day = int(day)
month = input("Please enter a month in numerical form (ex: 10): ")
month = int(month)
year = input ("Please enter a year in numerical form (ex: 22): ")
year = int(year)

print(day,month,year)

if day * month == year:
    print("Wow! That is a magic number!")
else:
    print("Try again next time!")

#Pg 270
## 10
## Ocean Levels

In [ ]:
rise = 1.6
starting_year = 1

#setup for loop
while (starting_year < 26):
    total_rise = starting_year * rise
    print("Rise after year", starting_year, ":"  , total_rise)
    starting_year = starting_year + 1